a{text-decoration: none;}
.va{vertical-align: top;}

header{
    height: 70px;
    width: 1000px;
    background-color: #ffffff;
    margin: 0 auto;
    position: relative;
}
.logo{
    display: inline-block;
    width: 100px;
    margin-top: 17px;
}
.label{
    display: inline-block;
    margin-left: 70px;
    margin-right: 10px;
    font-size: 15px;
}
.label li{
    display: inline-block;
    padding-right: 27px;
}
.label li a{
    color: #555555;
    line-height: 70px;
}
.label li img{
    padding: 0 4px;
}
.label .change a:hover {
    color: #38af59;
}
.label .change:hover .mark{
    transform: rotate(180deg);
}
.label .label-item:hover .occupation {
    display: block;
}
header .label .occupation{
    display: none;
    position: absolute;
    width: 170px;
    height: 275px;
    background-color: #fff;
    border-top: 1px solid #dedede; 
    padding-top: 5px;
    padding-left: 40px;
    line-height: 30px;
    font-size: 12px;
    color: #333333;
}
header .label .occupation span{
    position: relative;
}
header .label .occupation .occ-text{
    background: #fafafa;
}
header .occupation p:nth-child(1)::before{
    position: absolute;
    top: 8px;
    left: 13px;
    content: url(.//img/1\ logo.png);
}
header .occupation p:nth-child(2)::before{
    position: absolute;
    top: 37px;
    left: 13px;
    content: url(.//img/2\ logo.png);
}
header .occupation p:nth-child(3)::before{
    position: absolute;
    top: 67px;
    left: 13px;
    content: url(.//img/3\ logo.png);
}
header .occupation p:nth-child(4)::before{
    position: absolute;
    top: 97px;
    left: 13px;
    content: url(.//img/4\ logo.png);
}
header .occupation p:nth-child(5)::before{
    position: absolute;
    top: 127px;
    left: 13px;
    content: url(.//img/5\ logo.png);
}
header .occupation p:nth-child(6)::before{
    position: absolute;
    top: 157px;
    left: 13px;
    content: url(.//img/6\ logo.png);
}
header .occupation p:nth-child(7)::before{
    position: absolute;
    top: 187px;
    left: 13px;
    content: url(.//img/7\ logo.png);
}
header .occupation p:nth-child(8)::before{
    position: absolute;
    top: 217px;
    left: 13px;
    content: url(.//img/8\ logo.png);
}
header .occupation p:nth-child(9)::before{
    position: absolute;
    top: 247px;
    left: 13px;
    content: url(.//img/9\ logo.png);
}
header .label .label-cur:hover .curriculum{
    display: block;
}
header .label .curriculum{
    display: none;
    position: absolute;
    width: 210px;
    height: 160px;
    background-color: #fff;
    border-top: 1px solid #dedede; 
    padding-top: 5px;
    padding-left: 15px;
}
header .label .curriculum a{
    line-height: 30px;
    font-size: 12px;
    color: #333333;
}
header .label .curriculum .cur-text{
    background: #fafafa;
}
header .label .label-ser:hover .service{
    display: block;
}
header .label .service{
    display: none;
    position: absolute;
    width: 210px;
    height: 220px;
    background-color: #fff;
    border-top: 1px solid #dedede; 
    padding-top: 5px;
    padding-left: 15px;
}
header .label .service a{
    line-height: 30px;
    font-size: 12px;
    color: #333333;
}
header .label .service .ser-text{
    background: #fafafa;
}
header .label .label-ent:hover .enterprise{
    display: block;
}
header .label .enterprise{
    display: none;
    position: absolute;
    width: 210px;
    height: 130px;
    background-color: #fff;
    border-top: 1px solid #dedede; 
    padding-top: 5px;
    padding-left: 15px;
}
header .label .enterprise a{
    line-height: 30px;
    font-size: 12px;
    color: #333333;
}
header .label .enterprise .ent-text{
    background: #fafafa;
}
header form{
    display: inline-block;
    margin-top: 20px;
}
header input{
    width: 178px;
    height: 30px;
    border: 1px solid #e4e4e4;
    padding-left: 10px;
}
.mirror{    
    display: inline-block;
    width: 38px;
    height: 32px;
    border: 1px solid #e4e4e4;
    margin-top: 20px;
}
.mirror img{
    width: 18px;
    padding: 6px 9px;
}
.bell{
    margin-top: 27px;
    margin-left: 38px;
    width: 22px;
    height: 22px;
}
.portrait{
    margin-top: 20px;
    margin-left: 25px;
    width: 31px;
    height: 31px;
}
.container{
    background-color:#f4f4f4;
}
.page-top{
    height: 360px;
    width: 100%;
}
.page-top .backimg{
    height: 360px;
    background: url(.//img/轮播.png);
    background-position: center;
}
.page-top .backimg .coordinate{
    width: 1000px;
    height: 1px;
    margin: 0 auto;
    position: relative;
}
.page-top .backimg picture{
    display: inline-block;
    height: 360px;
    width: 100%;
}
.page-top .update{
    position: absolute;
    top: 33px;
    right: 0;
    width: 210px;
    height: 297px;
    background: #ffffff;
}
.page-top .update-one{ 
    height: 32px;
    width: 100%;
    text-align: center;
}
.page-top .update-one a{
    font-size: 13px;
    color: #688aa4;
    line-height: 32px;
}
.page-top .update-two{
    height: 220px;
    width: 100%;
    background-color: #fafafa;
}
.page-top .update-two div{
    display: inline-block;
    height: 43px;
    width: 100%;
    font-size: 12px;
    color: #333333;
    border-top: 1px solid #f4f4f4;
    position: relative;
}
.page-top .update-two img{
    margin-left: 14px;
    margin-top: 16px;
}
.page-top .update-two p{
    position: absolute;
    top: 7px;
    left: 40px;
    right: 13px;
    line-height: 16px;
}
.page-top .update-two p{
    position: absolute;
    top: 7px;
    left: 40px;
    right: 13px;
    line-height: 16px;
}
.page-top .update-two .exoress{
    line-height: 30px;
}
.update-three{
    height: 43px;
    width: 210px;
    border-top: 1px solid #f4f4f4;
}
.update-three .email{
    border: 1px solid #e4e4e4;
    width: 120px;
    height: 25px;
    margin: 8px 0 0 13px;
    font-size: 12px;
    color: #333333;
    padding: 0 0 0 8px;
}
.update-three input::placeholder{
    color: #dedede;
}
.update-three .subscribe{
    border: 1px solid #e4e4e4;
    height: 27px;
    width: 50px;
    font-size: 12px;
    color: #50bf6e;
    background-color: #ffffff;
    padding-bottom: 2px;
}
.page-top .dh{
    position: absolute;
    left: 0px;
    width: 210px;
    height: 360px;
    background: rgba(0,0,0,0.8);
}
.page-top .dh li{
    height: 44px;
    width: 170px;
    margin-left: 20px;
    border-bottom: 1px solid #445551;
}
.page-top .dh .trunk:hover{
    background-color: #ffffff;
    width: 210px;
    height: 44px;
    margin-left: 0;
}
.page-top .dh li a{
    font-size: 14px;
    color: #fff;
    line-height: 44.5px;
    padding-left: 4px;
}
.dh li:hover .item{
    margin-left: 20px;
    font-size: 14px;
    color: #333333;
}
.page-top .dh .list img{
    float: right;
    transform: rotate(-90deg);
    margin: 18px 8px 0 0;
}
.dh li:hover .list img{
    margin-right: 28px;
}
.dh li:hover .content{
    display: block;
}
.dh li:hover .content{
    display: block;
}
.page-top .dh .item-one,.item-two,.item-three,.item-four,.item-five,.item-six,.item-seven,.item-eight{
    display: none;
}
.dh .content{
    display: none;
    position: absolute;
    top: 0px;
    left: 210px;
    width: 790px;
    height: 360px;
    background-color: #ffffff;
}
.dh .content p{
    width: 60px;
    height: 20px;
    background-color: #a0aeb9;
    font-size: 12px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    float: left;
    margin: 20px 0 0 20px;
}
.dh .content p:last-child{
    width: 60px;
    height: 20px;
    background-color: #35B588;
    font-size: 12px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    float: left;
    margin: 20px 0 0 20px;
}
.dh .content ul{
    margin: 40px 0 0 20px;
    border-top: 1px solid #a0aeb9;
}
.dh .content ul span{
    float: left;
    font-size: 13px;
    color: #333333;
    line-height: 45px;
    margin-right: 20px;
}
.dh .content ul a{
    font-size: 12px;
    color: #333333;
    line-height: 45px;
    margin-right: 3px; 
    word-wrap:break-word;
}
.dh .content ul a::after{
    content:"|";
    margin-left: 3px;
    color: #c2c2c2;
}
.dh .content ul a:last-child::after{
    display: none;
}
.dh .content ul>li{
    width: 770px;
    height: 45px;
    margin: 0;
    border-bottom: 1px solid #f0f0f0;
}
.dh .content ul>.bigframework{
    width: 770px;
    height: 90px;
    margin: 0;
    border-bottom: 1px solid #f0f0f0;
}
.dh .content ul>.bigframework :nth-child(13){
    margin-left: 70px;
} 
.page-poster{
    display: flex;
    width: 1000px;
    height: 120px;
    margin: 20px auto 0 auto;
}
.page-poster img{
    width: 327px;
    margin-right: 10px;
}
.page-zylj{
    width: 1000px;
    margin: 0 auto;
}
.page-zylj .title .subject a{
    width: 75px;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    font-weight: 500;
    color: #333333;
}
.page-zylj .title .branch a{
    float: right;
    width: 75px;
    height: 60px;
    line-height: 60px;
    font-size: 12px;
    font-weight: 500;
    color: #333333;
}
.page-zylj .container{
    height: 310px;
    width: 1000px;
    display: flex;
    flex-wrap:wrap;
}
.page-zylj .container a{
    display: inline-block;
    width: 192px;
    height: 150px;
    background-color: #ffffff;
    margin-right: 10px;
    margin-bottom: 10px;
}
.page-zylj .container :nth-child(5) a{
    margin-right: 0px;
}
.page-zylj .container :nth-child(10) a{
    margin-right: 0px;
}
.page-zylj .container img{
    width: 160px;
    margin-left: 15px;
    margin-top: 10px;
}
.page-zylj .container p{
    font-size: 12px;
    font-weight: 500;
    color: #666666;
    text-align: center;
    margin-top: 15px;
}
.page-zstx {
    width: 1000px;
    margin: 10px auto;
}
.page-zstx .title .subject a{
    width: 75px;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    font-weight: 500;
    color: #333333;
}
.page-zstx .title .branch a{
    float: right;
    width: 95px;
    height: 60px;
    line-height: 60px;
    font-size: 12px;
    font-weight: 500;
    color: #333333;
}
.page-zstx .container{
    width: 1000px;
    height: 410px;
    display: flex;
    flex-wrap: wrap;
}
.page-zstx .container a{
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 134px;
    height: 130px;
    background-color: #ffffff;
    margin-right: 10px;
    margin-bottom: 10px;
}
.page-zstx .container :nth-child(7) a{
    margin-right: 0;
}
.page-zstx .container :nth-child(14) a{
    margin-right: 0;
}
.page-zstx .container :nth-child(21) a{
    margin-right: 0;
}
.page-zstx .container .title-top{
    font-size: 12px;
    color: #666666;
    margin-top: 19px;
    text-align: center;
}
.page-zstx .container .title-bottom{
    font-size: 12px;
    color: #35b558;
    margin-top: 8px;
}
.page-jkfw{
    width: 1000px;
    margin: 0 auto;
}
.page-jkfw .title .subject a{
    width: 75px;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    font-weight: 500;
    color: #333333;
}
.page-jkfw .container{
    width: 1000px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
}
.page-jkfw .container div{
    height: 210px;
    width: 326px;
    background-color: #ffffff;
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.page-jkfw .container :nth-child(3){
    margin-right: 0px;
}
.page-jkfw .container :nth-child(3) .text-five{
    position: absolute;
    bottom: 30px;
    left: 120px;
}
.page-jkfw .container :nth-child(6){
    margin-right: 0px;
}
.page-jkfw .container :nth-child(6) .text-five {
    position: absolute;
    bottom: 30px;
    left: 120px;
}
.page-jkfw .container .text-one{
    position: absolute;
    top: 10px;
    left: 10px;
    height: 20px;
    width: 50px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #e4e4e4;
    border: 1px solid #e4e4e4;
}
.page-jkfw .container .text-two{
    font-size: 16px;
    font-weight: 600px;
    color: #35b558 ;
    margin-bottom: 7px;
}
.page-jkfw .container .text-three{
    font-size: 12px;
    color: #a7a7a7;
}
.page-jkfw .container .text-four{
    font-size: 13px;
    color: #666666;
    text-align: center;
    line-height: 20px;
    margin-top: 23px;
    margin-bottom: 30px;
}
.page-jkfw .container .text-five{
    position: absolute;
    bottom: 30px;
    left: 69px;
    width: 80px;
    height: 30px;
    border: 1px solid #e4e4e4;
    font-size: 13px;
    color: #787879;
    text-align: center;
    line-height: 30px;
}
.page-jkfw .container .text-six{
    position: absolute;
    bottom: 30px;
    right: 69px;
    width: 80px;
    height: 30px;
    border: 1px solid #35b558;
    font-size: 13px;
    color: #35b558;
    text-align: center;
    line-height: 30px;
}
.page-topic{
    display: flex;
    width: 1000px;
    height: 340px;
    margin: 20px auto;
}
.page-topic .problem{
    width: 495px;
    height: 100%;
    background-color: #ffffff;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}
.page-topic .topic{
    width: 495px;
    height: 100%;
    background-color: #ffffff;
}
.page-topic .problem h2{
    font-size: 16px;
    color: #333333;
    line-height: 40px;
    border-bottom: 1px solid #f1f1f1;
    padding-left: 20px;
}
.page-topic .problem .more{
    float: right;
    right: 25px;
    font-size: 12px;
    color: #333333;
    line-height: 40px; 
    margin-right: 25px;
}
.page-topic .problem img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-top: 4px;
}
.page-topic .problem div{
    height: 25px;
    width: 100%;
    margin-left: 20px;
    line-height: 12px;
}
.page-topic .problem .problem-one{
    font-size: 12px;
    color: #333333;
    line-height: 25px;
    vertical-align: top;
    letter-spacing: 1px;
}
.page-topic .problem .problem-two{
    font-size: 12px;
    color: #999;
    line-height: 25px;
    float: right;
    margin-right: 45px;
}
.page-topic .topic h2{
    font-size: 16px;
    color: #333333;
    line-height: 40px;
    border-bottom: 1px solid #f1f1f1;
    padding-left: 20px;
}
.page-topic .topic .more{
    float: right;
    right: 25px;
    font-size: 12px;
    color: #333333;
    line-height: 40px; 
    margin-right: 25px;
}
.page-topic .topic ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.page-topic .topic li{
    height: 25px;
    width: 100%;
    margin-left: 20px;
}
.page-topic .topic li:first-child{
    margin-top: 20px;
}
.page-topic .topic img{
    width: 20px;
    margin-right: 5px;
    margin-top: 4px;
}
.page-topic .topic .topic-item{
    font-size: 12px;
    color: #333333;
    line-height: 25px;
    vertical-align: top;
    letter-spacing: 1px;
}
.page-topic .topic .topic-number{
    float: right;
    margin-right: 45px;
    font-size: 12px;
    color: #999;
    line-height: 25px;
}
.page-story{
    height:200px;
    width: 1000px;
    margin: 0 auto;
    display: flex;
}
.page-story div{
    height: 200px;
    width: 327px;
    background-color: #ffffff;
    margin-right: 10px;
}
.page-story .story-content:nth-child(3){
    margin-right: 0;
}
.page-story .story-content .title{
    width: 60px;
    height: 20px;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    line-height: 20px;
    background-color: #ff8888;
    margin: 0 auto;
    margin-top: 8px;
}
.page-story .story-content:nth-child(2) .title{
    width: 60px;
    height: 20px;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    line-height: 20px;
    background-color: #689dff;
    margin: 0 auto;
    margin-top: 8px;
}
.page-story .story-content:nth-child(3) .title{
    width: 60px;
    height: 20px;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    line-height: 20px;
    background-color: #3ad29e;
    margin: 0 auto;
    margin-top: 8px;
}
.page-story .story-content .container :first-child{
    float: left;
    margin-left: 18px;
} 
.page-story .story-content .container :last-child{
    float: right;
    margin-right: 18px;
}
.page-story .story-content .container{
    width: 100%;
    height: 100px;
}
.page-story .story-content .container a{
    display: inline-block;
    margin: 0 30px 0 31px;
    font-size: 12px;
    color: #555555;
    line-height: 20px;
}
.page-story .story-content .author{
    width: 100%;
    height: 70px;
    background-color: #fafafa;
}
.page-story .story-content .author img{
    float: left;
    width: 50px;
    height: 50px;
    margin: 10px 15px 10px 30px;
}
.page-story .story-content .author .name{
    display: inline-block;
    padding-top: 18px;
    font-size: 12px;
    color: #555555;
    line-height: 20px;
}
.page-story .story-content .author .company{
    font-size: 12px;
    color: #999999;
    line-height: 20px;
}
.cooperatives{
    width: 1000px;
    height: 160px;
    margin: 10px auto;
    padding-bottom: 70px;
}
.cooperatives .title .subject a{
    width: 75px;
    height: 60px;
    font-size: 18px;
    color: #333333;
    line-height: 60px;
}
.cooperatives .title .branch a{
    float: right;
    font-size: 12px;
    color: #333333;
    line-height: 60px;
}
.cooperatives .container{
    display: flex;
    flex-wrap: wrap;
}
.cooperatives .container img{
    width: 134px;
    height: 45px;
    margin: 0 10px 10px 0;
}
.cooperatives .container :nth-child(7){
    margin-right: 0;
}
.cooperatives .container :nth-child(14){
    margin-right: 0;
}
footer{
    width: 1000px;
    height: 220px;
    margin: 0 auto;
    background-color: #ffffff;
    position: relative;
}
footer .telephone{
    position: absolute;
    top: -70px;
    left: 50%;
    margin-left: -120px;
    width: 240px;
    height: 50px;
    background-color: #fff;
}
footer .telephone .tele{
    position: relative;
    width: 240px;
    height: 50px;
}
footer .telephone .phone{
    position: absolute;
    top: 15px;
    left: 25px;
}
footer .little-logo{
    margin-top: 60px;
    text-align: center;
}
footer .little-logo img{
    width: 22px;
    margin-right: 25px;
}
footer .little-logo :last-child{
    margin-right: 0px;
}
footer .other nav{
    width: 100%;
    height: 30px;
    margin-top: 27px;
    border-bottom: 1px solid #f0f0f0;
    font-size: 13px;
    color: #999999;
    text-align: center;
}
footer .other a{
    font-size: 13px;
    color: #999999;
    padding-right: 20px;
}
footer .end{
    text-align: center;
}
footer .end p{
    margin-top: 15px;
    font-size: 13px;
    color: #999999;
}
footer .end img{
    width: 70px;
    margin-top: 15px;
}
.suspension .top{
    position: fixed;
    top: 50%;
    right: 50%;
    margin-right: -555px;
    display: flex;
    flex-direction: column;
}
.suspension .top img{
    width: 40px;
    height: 40px;
    margin-bottom: 1px;
}
.suspension .qycode{
    position: fixed;
    top: 50%;
    right: 50%;
    margin-right: -780px;
    width: 150px;
    height: 170px;
    background-color: #fff;
    text-align: center;
}
.suspension .qycode p{
    font-size: 12px;
    color: #999999;
    line-height: 40px;
}



